@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    margin : 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    width : 100vw ;
    height : 100vh ;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    flex-direction: column;
}
h1:hover{
    background: white;
    color: black;
    padding: 15px;
    border-radius: 30px;
    transform: scale(1.1rem);
    border: 3px solid grey;
}
body::before {
    content : "Welcome to My Website";
    text-transform: uppercase;
}
body ul {
    background-color: #fff;
    width : 700px ;
    display : flex ;
    align-items: baseline;
    justify-content: space-between;
    border-radius: 50px;
    margin : 0 ;
    padding : 0px ;
}
ul li a img{
    width : 50px ;
    height : 50px ;
    padding : 50px ;
}
   

